/* Global */
:root
{
    --orange1 : #fdba74;
    --orange2: #fcd34d;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-size: 16px;
    font-family: 'Tilt Neon', cursive;
}


/* Image Settings (Profile Picture) */
.user-img,.profile-pic-wrapper {
    width: 80px; /* Set the width of the container */
    height: 80px; /* Set the height of the container */
    border: 1px solid black; /* Add a border to the container */
    display: flex; /* Use flexbox to center the image within the container */
    justify-content: center;
    align-items: center;
    border-radius: 50%;;
    overflow: hidden;
  }

.user-img img, .profile-pic-wrapper img
{
    width: 100px;
    height: auto;
    object-fit: contain;
}

/* Link settings */
a
{
    text-decoration: none;
    color: white;
}

ul
{
    list-style: none;
}

/* Header */
/* Heading 1 */
header
{
    margin-right: 50px;
}

.heading1 img
{
    width: 30px;
}

.heading1 
{
    display: flex;
    padding: 20px;
    gap: 20px;
    align-items: center;
}

.heading1 .search-bar
{
    flex: 1 1 auto;
    margin-right: 70px;
}

.heading1 .profile-pic-wrapper
{
    flex-shrink: 0;
}


.heading1 > .profile-pic-wrapper
{
    width: 60px;
    height: 60px
}

.heading1 > .profile-pic-wrapper.profile-pic-wrapper img
{
    width: 100px;
    height: auto;
    object-fit: contain;
}


.heading1 input[type="text"] 
{
    padding: 10px;
    min-width: 100%;
    background-color: rgb(228, 228, 228);
    border: none;
    border-radius: 20px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    outline: none;

  }
  
input[type="text"]::placeholder 
{
    color: #999;
}
  

/* Heading 2 */
.heading2
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    margin-bottom: 20px;
    padding-left: 30px;
}

.heading2 .greeting-wrapper
{
    display: flex;
    align-items: center;
    gap: 20px;
}

.greeting-wrapper h4
{
    margin-top: 10px;
    font-size: 20px;
}

.heading2 nav
{
    font-size: 18px;
    font-weight: bold;
    margin-right: 15px;
    justify-self: end;
}

.heading2 ul
{
    display: flex;
    gap: 20px;
}

.heading2 ul > li
{
    background-color: var(--orange1);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    min-width: 100px;
    text-align: center;
}

/* Sidebar */
aside
{
    background-color: var(--orange1);
    padding: 15px;
}

aside .side-title
{
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
}

.dashboard-icon
{
    border: solid rgb(206, 100, 2) 1px;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    display: flex; /* Use flexbox to center the image within the container */
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 244, 197, 0.877);
    overflow: hidden;
}

.dashboard-icon img
{
    width: 120px;
    height: auto;
    object-fit: contain;
}

aside 
{
    font-size: 20px;
    font-weight: bold;
}

aside ul > li
{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

aside .side1
{
    margin-top: 20px;
}

aside .side2
{
    margin-top: 50px;
}

.side1 img, .side2 img
{
    width: 30px;
    height: 30px;
}

/* Main section */
section
{
    background-color: aliceblue;
    padding: 20px;
}

/* Main section */
.main-projects h4
{
    margin-left: 20px;
}

.main-projects h5
{
    font-size: 20px;
    font-weight: bold;
}


.projects-wrapper
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
    gap: 20px;
    margin: 20px;
    width: 90%;
    height: 95%;
}

.main-projects .card
{
    border-left: solid 7px var(--orange2);
    border-radius: 8px;
    box-shadow: 3px 4px 5px rgb(190, 190, 190);
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 88%;
}

.card-icons
{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-top: auto;
}

.card img
{
 width: 35px;
 height: 35px;
}

/* Announcement section and Trending Section */
.main-announcements,.main-trending
{
    margin: 20px;
}

.announcement-wrapper, .trending-wrapper
{
    border-radius: 8px;
    box-shadow: 3px 4px 5px rgb(190, 190, 190);
    padding: 20px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 90%;
}

.announcment1, .announcment2
{
    border-bottom: solid 2px rgb(156, 156, 156);
    margin-bottom: 15px;
}

.announcment h5
{
    font-size: 16px;
}

.announcment p 
{
    margin-bottom: 20px;
}

.trending-wrapper .user
{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 15px;
}

.trending-wrapper .user-img
{
    flex-shrink: 0;
}


/* Footer */
footer
{
    background-color: rgb(213, 243, 255);
    text-align: center;
    padding: 20px;
    
}

/* Test cotnainer */
.container
{
    display: grid;
    grid-template-columns: 1fr 6fr;
    height: 100vh;
}

aside
{
    grid-row: 1 / 4;
}

section
{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, (4fr, 1fr)); */
    grid-template-columns: 4fr 1fr;
}

.main-projects
{
    grid-row: 1 / 3;
}

footer
{
    grid-column: 2 / -1;
}

@media screen and (max-width: 768px)
{

    .container
    {
        grid-template-columns: 1fr;
        grid-template-rows: 250px 1000px 1000px 1fr 1fr;
    }
    section
    {
        grid-template-columns: 1fr;
        grid-row: 4;
    }

    .container
    {
        grid-template-columns: 1fr;
        grid-template-rows: 250px 400px 4fr 1fr 1fr ;
    }

    aside
    {
        grid-row-start: 2;
    }

    footer
    {
        grid-column: 1 / 2;
        grid-row-start: 5;
    }

    .heading2
    {
        grid-template-columns: 1fr;
    }

    .heading2 .greeting-wrapper, .heading2 nav
    {
        margin-bottom: 15px;
        justify-self: center;
    }

}


